@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: auto;
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  border: 1rem solid #1d1e4c;
  font-family: 'Montserrat', sans-serif;
  padding: 8rem 15rem;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.main-heading {
  justify-self: start;
  align-self: end;
  padding-bottom: 4rem;
}
.main-heading h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #1d1e4c;
  text-transform: uppercase;
}
.main-heading p {
  font-weight: bold;
  text-align: end;
  font-size: 2.5rem;
}

.image_container {
  max-width: 350px;
  overflow: hidden;
  border-radius: 100%;
}

.image_container img {
  width: 100%;
}

/* box 2 design */

.about_us {
  display: grid;
  padding: 0 6rem;
  margin-top: 5rem;
}
.about_us h1 {
  font-size: 6rem;
  text-transform: capitalize;
  padding-bottom: 2.5rem;
  font-weight: 510;
}
.about_us p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  line-height: 3rem;
  padding-bottom: 3rem;
  text-align: justify;
}
.about_us span {
  font-weight: bold;
  font-size: 2rem;
}

/* box3 design */

.biographies {
  padding: 1rem 6rem;
}
.biographies h3 {
  text-transform: capitalize;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.biographies ul {
  padding-left: 3rem;
  font-weight: 520;
}
.biographies li {
  font-size: 1.8rem;
  line-height: 3rem;
}

/* box4 design */
.box4 {
  text-align: end;
  padding: 3.5rem 6.5rem 2.5rem 0;
}
.box4 p {
  font-size: 2rem;
}
.box4 a {
  color: #0846e2;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 2rem;
}
