*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:866px) {
    .container1{
        width: 100%;
        margin: 0 auto;
        margin-top:20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 2px 1px  rgb(238, 229, 229);
    }

    .apply_box{
        margin: 0 auto;
        padding: 20px;
    }
    form{
        display:flex;
        /* gap: 20px;
        column-gap: 7%;
        grid-template-columns: 1fr;
    } */
    flex-direction: column;
}
}
