*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CCCCCC;
}

/* main container style */
.container1{
    width: 50%;
    margin: 0 auto;
    margin-top:50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 1px  rgb(238, 229, 229);
}

/* sub_main container style */
.apply_box{
    margin: 0 auto;
    padding: 30px;
}
/* ************************************************ */

/* heading style */
.heading span{
    font-size: 20px;
}
.heading{
    margin-bottom: 20px;
}

/* form styling */
form{
    display: grid;
    gap: 20px;
    column-gap: 7%;
    grid-template-columns: 1fr 1fr;
}
.form_element{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    font-size: 10px;
    text-transform: capitalize;
}
label{
    padding-bottom: 3px;
    font-size: 15px;
}
input{
    width:95%;
    font-size: 17px;
    padding-left: 10px;
    height: 35px;
    border-radius: 5px;
    border:1px solid gray;
    outline: none;
    
}
select{
    width: 95%;
    height: 35px;
    border-radius: 5px;
    border:1px solid gray;
    outline: none;
    padding-left: 10px;
    font-size: 17px;
}

.form_element5{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 98%;
}
textarea{
    border-radius: 5px;
    border:1px solid gray;
    outline: none;
    padding-left: 10px;
    font-size: 17px;
}
.form_element9 input{
    padding-top: 3px;
}

.box6{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align:end;
    margin-top: 25px;
    width: 98%;
}
button{
    font-size: 13px;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: red;
    border: 2px solid red;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: rgb(211, 194, 194);
    color:black;
    outline: none;
    outline: none;
}




